doctype html

html
  head
    title nproc
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Raleway:300")
    link(rel="stylesheet", href="/css/main.css")
    block styles
  body
    header
      h1 nproc
    #content
      block content

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
    script(src="/js/main.js")
    block scripts
